.chat-box {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 477px;
  max-height: 500px;
  padding: 50px;
  overflow-y: auto;
  margin: 5px 0;
  gap: 20px;
  background-color: #f2f3f500;
  background-image: url("../../assets/ChatBg.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-blend-mode: overlay; 
  padding-bottom: 130px;

  &__title {
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
  }
}

.message {
  display: flex;
  width: 100%;
  height: auto;
  margin: 5px 0;
  gap: 20px;
  justify-content: flex-start;
    flex-direction: row-reverse;

  &--fnd-message {
    justify-content: flex-start;
    flex-direction: row;
  }

  &__image {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text {
    position: relative;
    top: 20px;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 12px;
    background: #dcf8c6;
    border-radius: 10px;
    font-size: 0.9em;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -12px;
      width: 20px;
      height: 20px;
      background: linear-gradient(
        135deg,
        #dcf8c6 0%,
        #dcf8c6 50%,
        transparent 50%,
        transparent
      );
    }

    &--fnd {
        background: #c6e6f8;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -12px;
        width: 20px;
        height: 20px;
        background: linear-gradient(
          40deg,
          transparent 0%,
          transparent 50%,
          #c6e6f8 50%,
          #c6e6f8
        );
      }
    }
  }

  &__time {
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    opacity: 0.5;
  }
}
