@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

.dt-pagination-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  border-top: 1px solid #dee2e6;
  padding-top : 15px;
}

.dt-pagination .dt-item {
  display: inline-block;
}

.dt-pagination .dt-item .dt-link {
  padding: 6px 8px;
  min-width: 32px;
  min-height: 32px;
  border-radius: 8px;
  margin-left: 0;
  margin-right: 8px;
  border: 1px solid #fff;
  font-size: 12px;
  font-weight: 500;
  color: #8A93A6;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.dt-pagination .dt-item .dt-link:hover {
  background-color: #ebf2fd;
  color: #5a8dee;
}

.dt-pagination .dt-item.disabled .dt-link {
  background-color: #F6F7FB;
  color: #D7DAE0;
  cursor: not-allowed;
}

.dt-pagination .dt-item:first-child .dt-link, .dt-pagination .dt-item:last-child .dt-link {
  background-color: #F6F7FB;
}

.dt-pagination .dt-item.active .dt-link {
  background-color: #5a8dee;
  border-color: #5a8dee;
  color: #fff;
}