.big-block {
  width: 100%;

  &--position {
    margin-top: 40px;
  }

  &__chart {
    padding: 20px 20px;
    margin: 10px 0;
    top: 318px;
    left: 309px;
    border-radius: 3px;
    border: 1px;
    background: var(--white-color);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-weight: 600;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    line-height: 28.13px;
    color: #4F5256;
  }

  &__average {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }

  &__button {
    padding: 5px 30px;
    top: 385px;
    left: 688px;
    border-radius: 2px 0 0 2px;
    border: 1px solid #4F5256;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0;
    text-align: left;
    background: transparent;
  }

  &__area-chart {
    margin-top: 30px;
  }
}

.average-list {

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Roboto, sans-serif;
    margin-top: 10px;
    color: #4F5256;
  }

  &__dot {
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #CED4DA;
    background: transparent;

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: "";
      background: #BA68C8;
      width: 90%;
      height: 90%;
      border-radius: 50%;
    }
  }
}

.charts {
  width: 100%;

  &__bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  &__circle {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    font-weight: 400;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    line-height: 28.13px;
    color: #4F5256;
  }
}

@media screen and (max-width: 769px){
  .big-block {
    &__area-chart {
      overflow-x: auto;
      white-space: nowrap;
    }
  }

  .charts {
    min-width: 800px;

    &__bar {
      display: block;
    }

    &--position {
      min-width: auto;
    }

    &__circle {
      width:  100%;

      &:nth-child(2) {
        margin-top: 40px;
      }
    }
  }
}

@media screen and (max-width: 479px){
  
}
