.offer {
  text-align: center;
  margin-bottom: 1.5em;

  &__end {
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }

  &__timeList {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  &__time {
    position: relative;
    width: 34px;
    height: 34px;
    padding: 0.5em;
    line-height: initial;
    color: var(--secondary-dark-color);
    background-color: var(--light-bg-color);
    border-radius: 5px;

    &:not(:last-child)::before {
      content: ":";
      position: absolute;
      right: -0.6em;
      color: var(--light-text-color);
    }
  }
}