.dashboard {
  width: 100%;

  &__container {
    max-width: 98%;
    margin: 0 auto;
    padding: 0 0.938em;
  }

  &__wrapper {
    width: 100%;
    top: 0;
    display: flex;
  }

  &__sidebar {
    position: sticky;
    top: 20px;
    height: auto;
    min-height: 400px;
    max-height: 570px;
    flex: 0 0 23%;
    margin-top: 20px;
    overflow-y: auto;
  }

  &__products {
    width: 77%;
    margin-top: 20px;
    padding: 10px 20px;
  }

  &__left {
    width: 100%;
    background: var(--light-bg-color);
  }

  &__analytics {
    padding: 30px 20px;
  }

  &__analytics-blocks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__search {
    position: relative;
  }

  &__search-icon {
    position: absolute;
    left: 5px;
    color: grey;
  }

  &__input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 14px;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 272px;
    padding: 5px 30px 7px 12px;
    border-radius: 8px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .08);
    position: relative;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    text-indent: 15px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 14px;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 272px;
    padding: 5px 30px 7px 12px;
    border-radius: 8px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .08);
    position: relative;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    text-indent: 15px;
    cursor: pointer;
    transition: .1ms ease-in;

    &:hover {
      box-shadow: 0 2px 16px rgba(0, 0, 0, .10);
    }
  }
}


@media screen and (max-width: 1200px){
  .dashboard {
    &__products {
      width: 75%;
    }

    &__sidebar {
    flex: 0 0 27%;
    }
  }
}

@media screen and (max-width: 990px){
  .dashboard {
    &__sidebar {
      position: fixed;
      z-index: 1000;
    }

    &__products {
      width: 100%;
    }
  }
}

@media screen and (max-width: 769px){
  .dashboard {

    &__products {
      padding: 0;
    }
  }
}

