a{
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: var(--percent100);
  vertical-align: middle;
}

strong {
  font-weight: var(--fw8);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::placeholder {
  font: inherit;
}

h1,h2,h3,h4 {
  font-family: "Poppins", sans-serif;
}

h1{
  font-size: calc(1.3em + 1vw);
  font-weight: var(--fw8);
  line-height: 1;
}

h2 {
  font-size: 2.5rem;
}

h3{
  font-size: 1.2rem;
  font-weight: var(--fw7);
}

h4{
  font-size: 1em;
  font-weight: var(--fw6);
}

.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0.938em;
}

.column {
  margin-left: -0.938em;
  margin-right: -0.938em;
}

.column .row {
  padding: 0 0.938em;
}

.flexwrap {
  display: flex;
  flex-wrap: wrap;
}

.flexcenter{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexitem {
  display: flex;
  align-items: center;
}

.flexcol {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.icon-sm{
  font-size: 1.25rem;
  margin-left: auto;
}

.icon-lg{
  font-size: 1.75rem;
  padding: 0 0.75em 0 0;
}

.mobile-hide {
  display: none;
}

.desktop-hide {
  display: block;
}

.trigger {
  font-family: "Rubik", sans-serif;
  font-size: 1.5em;
}

.primary-button, .secondary-button, .light-button {
  font-size: var(--font-small);
  padding: 0.9em 2em;
  height: auto;
  width: fit-content;
  border-radius: 2em;
  transition: var(--trans-background-color);
}

.primary-button {
  background-color: var(--primary-color);
  color: var(--white-color);

  &:hover {
    background-color: var(--dark-color);
  }
}

.secondary-button {
  background-color: var(--secondary-dark-color);
  color: var(--white-color);

  &:hover {
    background-color: var(--light-bg-color);
    color: var(--secondary-dark-color);
  }
}

.light-button {
  background-color: var(--light-bg-color);

  &:hover {
    background-color: var(--secondary-dark-color);
    color: var(--white-color);
  }
}

.mini-text {
  font-size: var(--font-smaller);
  color: var(--light-text-color);
}

.circle {
  position: absolute;
  top: -15px;
  left: 0;
  width: 38px;
  height: 38px;
  border-radius: var(--percent50);
  background-color: var(--light-bg-color);
  z-index: -1;

  &::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: var(--percent50);
    background-color: var(--secondary-color);
    bottom: 5px;
    right: 5px;
    opacity: .4;
  }
}

.row {
  flex: 0 0 100%;
  width: 100%;
  margin-bottom: 2em;
}

.view-all {
  font-size: var(--font-small);
  display: flex;
  gap: 1em;
  transition: var(--trans-color);

  &:hover {
    color: var(--light-text-color);
  }
}

.t-close {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25em;
  width: 32px;
  height: 32px;
  border-radius: var(--percent100);
  background-color: var(--secondary-dark-color);
  color: var(--white-color);
  transition: var(--trans-background-color);

  &:hover {
    background-color: var(--white-color);
    color: var(--secondary-dark-color);
    opacity: .75;
  }
}

.error {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 0.8em;
}

@media screen and (min-width: 993px) {
  .container {
    padding: 0 2rem;
  }

  .desktop-hide {
    display: none;
  }

  .mobile-hide {
    display: block;
  }
}