.date-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.date-picker {
    &__input {
        padding: 5px 10px;
        border-radius: 10px;
    }

    &__title {
        font-size: 1.2em;
        font-weight: var(--fw4);
    }
}