.footer-info {
  padding: 3.5em 2.5em;

  &__intro {
    align-items: center;
    gap: 0;
  }

  &__link {
    font-size: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--light-bg-color);
    border-radius: var(--percent50);
    margin: 0.25em;
    transition: var(--trans-background);

    &:hover {
      background-color: var(--border-color);
    }
  }

  &__logo-link {
    margin: 0 0 1em -0.75em;
  }

  &__text {
    margin-top: 2em;
    text-align: center;
  }
}