.variant {
  width: 100%;
  background: var(--white-color);

  &__inner {
    padding: 20px 20px;
  }

  &__tabs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }

  &__tab {
    position: relative;
    display: flex;
    align-items: center;
    grid-column-gap: 20px;
    padding: 10px 30px!important;
    font-size: var(--font-small);
    border: 1px solid var(--light-text-color);
    outline: none;
    background: transparent;
    border-radius: 10px;
    color: var(--light-text-color);
    cursor: pointer;

    &--active {
      border: 1px solid var(--primary-color);
      color: var(--primary-color);
    }

    &:hover {
      border: 1px solid var(--secondary-dark-color);
    }
  }

  &__tab-icon {
    position: absolute;
    top: 2px;
    right: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background: var(--primary-color);
    color: var(--white-color);
    border-radius: 50%;
    transition: .2s;

    &:hover {
      background: var(--light-text-color);
      color: var(--white-color);
    }
  }

  &__form-item {
    margin-top: 20px;
    display: block!important;
    width: 100%;
  }
}

.unique-color {
    position: relative !important;
    width: 26px!important;
    height: 26px!important;
    top: 0 !important;
    border-radius: 0!important;
    margin: 0 !important;
    cursor: pointer !important;
    z-index: 1 !important;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 0!important;
      top: 0;
      left: 0;
      background-color: var(--color)!important;
      opacity: 1 !important;
    }
}

.image-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border: 1px solid var(--light-text-color);

  &__image-input {
    display: none;
  }

  &__image-icon {
    font-size: 20px;
  }

  &__label {
    cursor: pointer;
  }
}

.uploaded-image {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border: 1px solid var(--light-text-color);
  }

  &__item-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 18px;
  }
}