.product-table {
  width: 100%;
  max-height: 600px;
  overflow-y: auto;

  &__thumbnail {
    position: relative !important;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    margin-right: 1em;
    object-fit: cover;
    display: block;
    transition: transform 0.3s;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: none !important;
  }

  &__form {
    width: var(--percent100);
  }

  &__table {
    width: var(--percent100);
  }

  &__list-item {
    vertical-align: middle;
    background-color: var(--light-bg-color);
  }

  &__content-item {
    &:not(:first-child) .product-table__content-table {
      min-width: 120px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__content-item,
  &__list-item {
    padding: 2em 1em;
    text-align: center;
  }

  &__content-item:first-child,
  &__list-item:first-child {
    text-align: left;
    padding-left: 2em;
  }

  &__content-item:first-child {
    padding-left: 0;
  }

  &__content-item :where(.content, .qty-control, p) {
    margin: 0;
    padding: 0;
  }

  &__content-table {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__qty-control {
    width: fit-content;
    padding: 0.5em;
    border: 1px solid var(--border-color);
  }

  &__contents {
    border-bottom: 1px solid var(--border-color);
  }

  &__content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
  }

  &__summary {
    width: var(--percent100);
    margin: 2.5em 0 1em;
  }

  &__shipping-rate {
    padding: 0 2em 0 1em;
  }
}

.status-dot {
  position: relative;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;

  &__wave {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    opacity: .8;
    border-radius: inherit;
    animation: pulseAnimate 4s ease-out infinite;
    animation-delay: calc(1s * var(--i));
  }
}

@keyframes pulseAnimate {
  100% {
    opacity: 0;
    transform: scale(1.8);
  }
}
